<template>
  <div class="col container-custom mb-2">
    <div class="row text-white bg-black d-flex justify-content-center mt-4 ms-2 me-2 p-2 custom-header-text rounded-3">
      TWOJA RECENZJA
    </div>
    <div class="row d-flex justify-content-start align-items-center m-2 p-2 text-white fs-6">
      Ocena:
      <Stars ref="stars"></Stars>
    </div>
    <div class="row m-2 p-2">
      <div class="form-floating p-0 m-0">
            <textarea class="form-control m-0 custom-input" v-model="commentText" placeholder="Napisz recenzję" id="floatingTextarea"></textarea>
        <label for="floatingTextarea">Recenzja</label>
      </div>
    </div>
    <div class="row mt-2 mb-2 ms-0 me-0 p-2">
      <div class="col mb-2 d-flex justify-content-end">
        <button class="btn-base btn-text-color me-4 ps-3 pe-3" @click="vote">Prześlij ocenę</button>
        <button class="btn-base btn-text-color ps-3 pe-3" @click="addComment">Prześlij recenzję i ocenę</button>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import {defineComponent, inject, onMounted, ref, watch} from "vue";
import Stars from "@/components/Stars.vue";
import Company from "@/api/company";
import type {CompanyRatingRequest} from "@/api/types/companyRatingRequest";
import {useToast} from "vue-toastification";
import type {PostCommentRequest} from "@/api/types/postCommentRequest";
import CommentService from "@/api/commentService";

export default defineComponent({
  name: "CommentField",
  components: {Stars},
  props: {
    companyId: Number
  },
  setup(props, context) {
    // IoC
    const company: Company = inject(Company.serviceName) as Company;
    const commentService: CommentService = inject(CommentService.serviceName) as CommentService;

    // variables
    const stars = ref();
    let rating = 0;
    const toast = useToast();
    const commentText = ref()

    onMounted(() => {
      watch(() => stars.value?.rating, (curr) => {
        rating = curr
      })
    })

    const vote = async () => {
      const request: CompanyRatingRequest = {
        rating: rating
      }

      const result = await company.vote(request, props.companyId ?? -1);

      if (result) {
        toast.success("Pomyślnie dodano ocenę");
        context.emit('send')
      }
      else toast.warning("Wystąpił problem podczas dodawania oceny")
    }

    const addComment = async () => {
      const request: PostCommentRequest = {
        comment: commentText.value
      }

      const result = await commentService.create(request, props.companyId ?? -1);

      if (result) {
        toast.success("Pomyślnie dodano opinię");
        commentText.value = '';
        await vote();
      }
      else toast.warning("Wystąpił problem podczas dodawania opinii");
    }

    return {
      stars,
      commentText,
      vote,
      addComment
    }
  }
})
</script>

<style scoped>
.custom-header-text {
  letter-spacing: .17rem;
  font-size: .75rem;
  font-weight: bolder;
}

.container-custom {
  border-radius: 1em;
  box-sizing: border-box;
  background-color: var(--color-primary-400);
}
</style>
