<template>
  <div class="card rounded-3">
    <div class="card-body">
      <div class="row d-flex justify-content-start">
        <div class="col-md-1 col-2 d-flex justify-content-center">
          <div class="row">
            <div :id="comment.id + 'profileImage'" class="rounded-circle profileImage"></div>
          </div>
        </div>
        <div class="col">
          <div class="row d-flex">
            <div class="col d-flex justify-content-start">
                <span class="mr-2">{{comment.owner_user_account.username}}</span>

            </div>
            <div class="col d-flex justify-content-end me-4">
              <span class="me-2">Twoja ocena: </span>
              <span class="text-success d-inline-block custom-pointer" @click="likeComment"><span class="material-icons me-3">thumb_up</span></span>
              <span class="text-danger d-inline-block custom-pointer" @click="dislikeComment"><span class="material-icons">thumb_down</span></span>
            </div>
          </div>
          <p class="text-justify comment-text mb-0">
            {{comment.comment}}
          </p>

          <div class="d-flex flex-row user-feed">
            <small>Ocena komentarza:
              <span class="text-success">+{{comment.rating_up}}</span>;
              <span class="text-danger">-{{comment.rating_down}}</span>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script lang="ts">
import {defineComponent, inject, onMounted, ref} from "vue";
import type {GetCommentResponse} from "@/api/types/getCommentResponse";
import CommentService from "@/api/commentService";
import {useToast} from "vue-toastification";

export default defineComponent({
  name: "Comment",
  props: {
    commentData: Object
  },
  setup(props, context) {
    const commentService: CommentService = inject(CommentService.serviceName) as CommentService;
    const toast = useToast();

    const comment = ref<GetCommentResponse>(props.commentData as GetCommentResponse)

    const setProfileImage = () => {
      const colors = ["#3949AB", "#1E88E5", "#5E35B1", "#0277BD", "#00796B", "#BF360C", "#D32F2F", "#C2185B", "#AB47BC", "#4A148C"]
      const element = document.getElementById(`${comment.value.id}profileImage`);

      const index = Math.floor(Math.random() * 10);

      element!.textContent = props?.commentData?.owner_user_account.username.charAt(0).toUpperCase();
      element!.style!.backgroundColor = colors[index]
    }

    const likeComment = async () => {
      const result = await commentService.rateComment(comment.value.related_company.id, comment.value.id, true);

      if (result) {
        toast.success("Dodano ocenę komentarza")
        context.emit("send")
      }
      else toast.warning("Ocena komentarza nie została dodana")
    }

    const dislikeComment = async () => {
      const result = await commentService.rateComment(comment.value.related_company.id, comment.value.id, false);

      if (result) {
        toast.success("Dodano ocenę komentarza")
        context.emit("send")
      }
      else toast.warning("Ocena komentarza nie została dodana")
    }

    onMounted(() => {
      setProfileImage()
    })

    return {
      comment,
      likeComment,
      dislikeComment
    }
  }
});
</script>

<style scoped>
.profileImage {
  width: 3.3rem;
  height: 3.3rem;
  font-size: 1.75rem;
  text-align: center;
  line-height: 3.3rem;
  color: #fff;
}

.custom-pointer {
  cursor: pointer;
}
</style>
