<template>
  <div class="col review-container p-4">
    <div class="row">
      <div class="col-6 col-lg-12">
        <div class="row d-flex justify-content-center">
          <div id="productImage">
            <img src="/comany.png" alt="company.png" class="company" size="6" border="0"/>
          </div>
        </div>
        <div class="row custom-text d-flex justify-content-center pt-2">
          {{ props.companyName }}
        </div>
        <div class="row">
          <StarsReadOnly v-if="props.stars !== undefined" :id="props.id" :stars="value"></StarsReadOnly>
        </div>
        <div class="row d-flex justify-content-center">
          <h6 class="custom-text">( {{ props.ratings }} Ocen ) </h6>
        </div>
      </div>
      <div class="col-6 col-lg-12 custom-text align-self-center fs-6">
        <div class="row d-flex justify-content-center">
          Dane firmy:
        </div>
        <div class="row d-flex justify-content-center">
          {{ props.address }}
        </div>
        <div class="row d-flex justify-content-center">
          {{ `${props.postCode} ${props.city}` }}
        </div>
        <div v-if="props.taxId !== null" class="row d-flex justify-content-center">
          {{ `NIP: ${props.taxId}` }}
        </div>
        <div v-if="props.regon !== null" class="row d-flex justify-content-center">
          {{ `REGON: ${props.regon}` }}
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref, watch} from "vue";
import StarsReadOnly from "@/components/StarsReadOnly.vue";


export default defineComponent({
  components: {StarsReadOnly},
  name: "CompanyDetails",
  props: {
    id: Number,
    companyName: String,
    stars: Number,
    ratings: Number,
    address: String,
    city: String,
    postCode: String,
    taxId: String,
    regon: String,
  },
  setup(props) {
    const value = ref()

    watch(props, () => {
      value.value = props!.stars! / props!.ratings!
    })

    return {
      props,
      value
    }
  }
});
</script>

<style scoped>

.custom-text {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

h5 {
  margin-top: -20px;
}

.review-container {
  border-radius: 1em;
  box-sizing: border-box;
  background-color: var(--color-primary-400);
}

#ratingHeader > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#ratingHeader > ul > li {
  padding-right: 4px;
}

#ratingBars > div {
  width: 300px;
  height: 4px;
}

#ratingBars > div > span {
  font-size: 12px;
  font-weight: bolder;
}

#productImage {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f1c40f;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productImage > img {
  height: 40px;
}

.review > .profileImg {
  margin-top: -100px;
  height: inherit;
  display: flex;
  align-items: center;
}

.review > .profileImg > img {
  height: 40px;
}

.review > .desc {
  padding-left: 20px;
  width: 70%;
  margin-top: 10px;
}

.review > .desc > p {
  font-size: 12px;
}

.type > img {
  height: 50px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

.company {
  position: absolute;
  margin-top: -3px;
  size: 20px;
}
</style>
