<template>
  <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-3 col-xxl-3 pb-3 custom-container" @click="openRoute">
    <div class="review-container">
      <div class=" col p-4">
        <div class="row d-flex justify-content-center">
          <div id="productImage">
            <img src="/comany.png" alt="company.png" class="company" size="6" border="0"/>
          </div>
        </div>
        <div class="row custom-text d-flex justify-content-center pt-2">
          {{ props.companyName }}
        </div>
        <div class="row">
          <StarsReadOnly :id="props.id" :stars="value"></StarsReadOnly>
        </div>
        <div class="row d-flex justify-content-center">
          <h6 class="custom-text">( {{ props.ratings }} Ocen ) </h6>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, ref} from "vue";
import StarsReadOnly from "@/components/StarsReadOnly.vue";
import router from "@/router";

export default defineComponent({
  components: {StarsReadOnly},
  name: "CompaniesPreView",
  props: {
    id: Number,
    companyName: String,
    stars: Number,
    ratings: Number
  },
  setup(props) {
    const value = ref(props!.stars! / props!.ratings!)

    const openRoute = () => {
      router.push({name: 'firma', params: { id: props.id}})
    }

    return {
      props,
      value,
      openRoute
    }
  }
});
</script>

<style scoped>
.custom-container {
  cursor: pointer;
}

.custom-text {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: white;
}

h5 {
  margin-top: -20px;
}

.review-container {
  border-radius: 1em;
  box-sizing: border-box;
  background-color: var(--color-primary-400);
}

#ratingHeader > ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#ratingHeader > ul > li {
  padding-right: 4px;
}

#ratingBars > div {
  width: 300px;
  height: 4px;
}

#ratingBars > div > span {
  font-size: 12px;
  font-weight: bolder;
}

#productImage {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: #f1c40f;
  display: flex;
  align-items: center;
  justify-content: center;
}

#productImage > img {
  height: 40px;
}

.review > .profileImg {
  margin-top: -100px;
  height: inherit;
  display: flex;
  align-items: center;
}

.review > .profileImg > img {
  height: 40px;
}

.review > .desc {
  padding-left: 20px;
  width: 70%;
  margin-top: 10px;
}

.review > .desc > p {
  font-size: 12px;
}

.type > img {
  height: 50px;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #FFD700;
}

/* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  color: #FFED85;
}

.company {
  position: absolute;
  margin-top: -3px;
  size: 20px;
}
</style>
