<script lang="ts">
import {inject, defineComponent, ref, watch, onMounted} from "vue";
import Authentication from "@/api/authentication";

export default defineComponent({
  name: "NavBar",
  setup() {
    // IoC
    const authentication: Authentication = inject(Authentication.serviceName) as Authentication;

    // variables
    const isLoggedIn = ref(authentication.isLoggedIn.value);
    const isChecked = ref(false)
    const isStaff = ref(authentication.isStaff.value)

    // watchers
    watch(() => authentication.isLoggedIn.value, (currentValue, oldValue) => {
      isLoggedIn.value = currentValue
    })
    watch(() => authentication.isStaff.value, (currentValue, oldValue) => {
      isStaff.value = currentValue
    })

    const logOut = (): void => {
      authentication.logOut();
    }

    const toggleHamburger = (): void => {
      isChecked.value = !isChecked.value;
    }

    return {
      isLoggedIn,
      isStaff,
      isChecked,
      logOut,
      toggleHamburger
    }
  }
})
</script>

<template>
  <div class="custom-navbar d-flex justify-content-center p-2">
    <nav class="navbar navbar-expand-xl navbar-dark container">
      <div class="container-fluid">
        <RouterLink to="/" class="navbar-brand custom-nav-link">BYŁEM TU</RouterLink>
        <button id="hamburger-icon" class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <input type="checkbox" id="menu_checkbox" :checked="isChecked" @click="toggleHamburger">
          <label for="menu_checkbox">
            <span></span>
            <span></span>
            <span></span>
          </label>
        </button>
        <div class="collapse navbar-collapse w-100" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 w-100 ms-auto justify-content-end">
            <li class="nav-item">
              <RouterLink to="/" class="nav-link custom-nav-link text-end" active-class="custom-nav-link-active">Strona
                Główna
              </RouterLink>
            </li>
            <li class="nav-item">
              <RouterLink to="/opinie" class="nav-link custom-nav-link text-end" active-class="custom-nav-link-active">
                Opinie
              </RouterLink>
            </li>
            <li class="nav-item" v-if="!isLoggedIn">
              <RouterLink to="/register" class="nav-link custom-nav-link text-end"
                          active-class="custom-nav-link-active">Rejestracja
              </RouterLink>
            </li>
            <li class="nav-item" v-if="!isLoggedIn">
              <RouterLink to="/login" class="nav-link custom-nav-link text-end" active-class="custom-nav-link-active">
                Logownie
              </RouterLink>
            </li>
            <li class="nav-item" v-if="isStaff">
              <RouterLink to="/add-company" class="nav-link custom-nav-link text-end" active-class="custom-nav-link-active">
                Dodaj firmę
              </RouterLink>
            </li>
            <li class="nav-item" v-if="isLoggedIn" @click="logOut()">
              <span class="nav-link custom-nav-link text-end">Wyloguj się</span>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<style scoped>
.custom-navbar {
  background-color: var(--color-primary-400);
  color: var(--text-color-primary-400);
  min-height: var(--navbar-height);
}

.custom-nav-link {
  color: var(--text-color-primary-400) !important;
}

.custom-nav-link:hover, .custom-nav-link:focus, .custom-nav-link-active {
  color: var(--text-color-primary-800) !important;
  cursor: pointer;
}

#menu_checkbox {
  display: none;
}

label {
  display: block;
  width: 30px;
  height: 30px;
  transition: 0.5s ease transform;
  cursor: pointer;
  transform: translateY(25%);
}

label span {
  display: block;
  width: 3px;
  height: 3px;
  background-color: var(--text-color-primary-400);
  margin-left: 0;
  margin-bottom: 4px;
  border-radius: 4px;
  transition: 0.5s ease width, 0.5s ease margin-left, 0.5s ease margin-bottom,
  0.5s ease background-color;
}

label span:first-child {
  width: 20px;
  transform: translateX(5px);
}

label span:nth-child(2) {
  width: 13px;
  transform: translateX(12px);
}

label span:last-child {
  width: 25px;
  margin-bottom: 0;
}

#menu_checkbox:checked + label {
  transform: translateY(25%) rotateZ(-90deg);
}

#menu_checkbox:checked + label span {
  width: 3px;
  margin-left: 12px;
  margin-bottom: 3px;
  background-color: var(--text-color-primary-800);
}

#menu_checkbox:checked + label span:first-child {
  transform: translateX(0);
}

#menu_checkbox:checked + label span:nth-child(2) {
  transform: translateX(0);
}

</style>
