<template>
  <div class="input-group mb-3">
    <input type="text" class="form-control custom-input" placeholder="Szukaj firmy" v-model="queryString" @keyup.enter="search">
    <div class="input-group-append">
      <button class="btn-base btn-main-color d-flex" @click="search">
        <span class="material-icons">search</span>
      </button>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, inject, onMounted, ref} from "vue";
import Company from "../api/company";

export default defineComponent({
  name: "SearchBar",
  setup() {
    // IoC
    const company: Company = inject(Company.serviceName) as Company;
    // variables
    const queryString = ref("");

    const companies = ref()

    const search = async () : Promise<void> => {
      const result = await company.search(queryString.value);

      if (result !== null) {
        companies.value = result;
      }
    }

    onMounted(() => {
      if (companies.value == undefined) {
        search()
      }
    });

    return {
      queryString,
      search,
      companies
    }
  }
})
</script>

<style scoped>
.btn-base {
  border-radius: 0 50px 50px 0 !important;
  padding: 0.5rem 1rem;
}

.custom-input {
  border-radius: 50px 0 0 50px !important;
}
</style>
