<template>
  <div class="col">
    <div class="row d-flex justify-content-center">
      <fieldset class="rating" :id="props.id?.toString()">
        <input type="radio" :id="props.id + 'star5'" :name="props.id + 'rating'" value="5" disabled/>
        <label class="full" :for="props.id + 'star5'" title="Awesome - 5 stars"></label>
        <input type="radio" :id="props.id + 'star4half'" :name="props.id + 'rating'" value="4 and a half" disabled/>
        <label class="half" :for="props.id + 'star4half'" title="Pretty good - 4.5 stars"></label>
        <input type="radio" :id="props.id + 'star4'" :name="props.id + 'rating'" value="4" disabled/>
        <label class="full" :for="props.id + 'star4'" title="Pretty good - 4 stars"></label>
        <input type="radio" :id="props.id + 'star3half'" :name="props.id + 'rating'" value="3 and a half" disabled/>
        <label class="half" :for="props.id + 'star3half'" title="Meh - 3.5 stars"></label>
        <input type="radio" :id="props.id + 'star3'" :name="props.id + 'rating'" value="3" disabled/>
        <label class="full" :for="props.id + 'star3'" title="Meh - 3 stars"></label>
        <input type="radio" :id="props.id + 'star2half'" :name="props.id + 'rating'" value="2 and a half" disabled/>
        <label class="half" :for="props.id + 'star2half'" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" :id="props.id + 'star2'" :name="props.id + 'rating'" value="2" disabled/>
        <label class="full" :for="props.id + 'star2'" title="Kinda bad - 2 stars"></label>
        <input type="radio" :id="props.id + 'star1half'" :name="props.id + 'rating'" value="1 and a half" disabled/>
        <label class="half" :for="props.id + 'star1half'" title="Meh - 1.5 stars"></label>
        <input type="radio" :id="props.id + 'star1'" :name="props.id + 'rating'" value="1" disabled/>
        <label class="full" :for="props.id + 'star1'" title="Sucks big time - 1 star"></label>
        <input type="radio" :id="props.id + 'starhalf'" :name="props.id + 'rating'" value="half" disabled/>
        <label class="half" :for="props.id + 'starhalf'" title="Sucks big time - 0.5 stars"></label>
      </fieldset>
    </div>
  </div>
</template>

<script lang="ts">
import {defineComponent, onMounted} from "vue";

export default defineComponent({
  name: "StarsReadOnly",
  props: {
    id: Number,
    stars: Number
  },
  setup(props) {
    onMounted(() => {
      if (props.stars == undefined) return;

      const starHalf = document.getElementById(`${props.id}starhalf`) as HTMLInputElement;
      const starOne = document.getElementById(`${props.id}star1`) as HTMLInputElement;
      const starOneHalf = document.getElementById(`${props.id}star1half`) as HTMLInputElement;
      const starTwo = document.getElementById(`${props.id}star2`) as HTMLInputElement;
      const starTwoHalf = document.getElementById(`${props.id}star2half`) as HTMLInputElement;
      const starThree = document.getElementById(`${props.id}star3`) as HTMLInputElement;
      const starThreeHalf = document.getElementById(`${props.id}star3half`) as HTMLInputElement;
      const starFour = document.getElementById(`${props.id}star4`) as HTMLInputElement;
      const starFourHalf = document.getElementById(`${props.id}star4half`) as HTMLInputElement;
      const starFive = document.getElementById(`${props.id}star5`) as HTMLInputElement;

      if (props.stars > 0 && props.stars <= 0.5) starHalf.checked = true;
      if (props.stars > 0.5 && props.stars <= 1) starOne.checked = true;
      if (props.stars > 1 && props.stars <= 1.5) starOneHalf.checked = true;
      if (props.stars > 1.5 && props.stars <= 2) starTwo.checked = true;
      if (props.stars > 2 && props.stars <= 2.5) starTwoHalf.checked = true;
      if (props.stars > 2.5 && props.stars <= 3) starThree.checked = true;
      if (props.stars > 3 && props.stars <= 3.5) starThreeHalf.checked = true;
      if (props.stars > 3.5 && props.stars <= 4) starFour.checked = true;
      if (props.stars > 4 && props.stars <= 4.5) starFourHalf.checked = true;
      if (props.stars > 4.5 && props.stars <= 5) starFive.checked = true;
    })
    return {
      props
    }
  }
});
</script>

<style scoped>
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  width: auto;
  transform: rotateY(180deg);
}

.rating > input {
  display: none;
}

.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
  float: left;
}

label {
  transform: rotateY(180deg);
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:checked > label, /* hover current star */
.rating:checked > label ~ label {
  color: #FFD700;
}

/* hover previous stars in list */
</style>
