<template>
  <div class="container mt-5 mb-5">
    <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-7">
        <div class="card">
          <div class="p-3">
            <h4>Wszystkie opinie tej firmy:</h4>
          </div>

          <!-- <div class="mt-3 d-flex flex-row align-items-center p-3 form-color">
            <img
              src="https://i.imgur.com/zQZSWrt.jpg"
              width="50"
              class="rounded-circle mr-2"
            />
            <input
              type="text"
              class="form-control"
              placeholder="Enter your comment..."
            />
          </div> -->

          <div class="mt-2">
            <div class="d-flex flex-row p-3">
              <img
                src="https://i.imgur.com/zQZSWrt.jpg"
                width="40"
                height="40"
                class="rounded-circle mr-3"
              />

              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">Marta Kaczorowska</span>
                    <small class="c-badge">Najlepeszy komentarz</small>
                  </div>
                  <small>18h ago</small>
                </div>

                <p class="text-justify comment-text mb-0">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam
                </p>

                <div class="d-flex flex-row user-feed">
                  <span class="wish"
                    ><i class="fa fa-heartbeat mr-2"></i>34</span
                  >
                  <span class="ml-3"
                    ><i class="fa fa-comments-o mr-2"></i>Polubień</span
                  >
                </div>
              </div>
            </div>

            <div class="d-flex flex-row p-3">
              <img
                src="https://i.imgur.com/3J8lTLm.jpg"
                width="40"
                height="40"
                class="rounded-circle mr-3"
              />

              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">Basia Stempień</span>
                    <small class="c-badge">Najlepeszy komentarz</small>
                  </div>
                  <small>2h ago</small>
                </div>

                <p class="text-justify comment-text mb-0">
                  Tellus in hac habitasse platea dictumst vestibulum. Lectus
                  nulla at volutpat diam ut venenatis tellus. Aliquam etiam erat
                  velit scelerisque in dictum non consectetur. Sagittis nisl
                  rhoncus mattis rhoncus urna neque viverra justo nec. Tellus
                  cras adipiscing enim eu turpis egestas pretium aenean
                  pharetra. Aliquam faucibus purus in massa.
                </p>

                <div class="d-flex flex-row user-feed">
                  <span class="wish"
                    ><i class="fa fa-heartbeat mr-2"></i>24</span
                  >
                  <span class="ml-3"
                    ><i class="fa fa-comments-o mr-2"></i>Polubień</span
                  >
                </div>
              </div>
            </div>

            <div class="d-flex flex-row p-3">
              <img
                src="https://i.imgur.com/agRGhBc.jpg"
                width="40"
                height="40"
                class="rounded-circle mr-3"
              />

              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">Zuza Janowska</span>
                  </div>
                  <small>7h ago</small>
                </div>

                <p class="text-justify comment-text mb-0">
                  Id eu nisl nunc mi ipsum faucibus. Massa massa ultricies mi
                  quis hendrerit dolor. Arcu bibendum at varius vel pharetra vel
                  turpis nunc eget. Habitasse platea dictumst quisque sagittis
                  purus sit amet volutpat. Urna condimentum mattis pellentesque
                  id.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam
                </p>

                <div class="d-flex flex-row user-feed">
                  <span class="wish"
                    ><i class="fa fa-heartbeat mr-2"></i>11</span
                  >
                  <span class="ml-3"
                    ><i class="fa fa-comments-o mr-2"></i>Polubień</span
                  >
                </div>
              </div>
            </div>

            <div class="d-flex flex-row p-3">
              <img
                src="https://i.imgur.com/agRGhBc.jpg"
                width="40"
                height="40"
                class="rounded-circle mr-3"
              />

              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">Katarzyna Stańczyk</span>
                  </div>
                  <small>1h ago</small>
                </div>

                <p class="text-justify comment-text mb-0">
                  Id eu nisl nunc mi ipsum faucibus. Massa massa ultricies mi
                  quis hendrerit dolor. Arcu bibendum at varius vel pharetra vel
                  turpis nunc eget. Habitasse platea dictumst quisque sagittis
                  purus sit amet volutpat. Urna condimentum mattis pellentesque
                  id.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam
                </p>

                <div class="d-flex flex-row user-feed">
                  <span class="wish"
                    ><i class="fa fa-heartbeat mr-2"></i>4</span
                  >
                  <span class="ml-3"
                    ><i class="fa fa-comments-o mr-2"></i>Polubień</span
                  >
                </div>
              </div>
            </div>

            <div class="d-flex flex-row p-3">
              <img
                src="https://i.imgur.com/3J8lTLm.jpg"
                width="40"
                height="40"
                class="rounded-circle mr-3"
              />

              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">Marita Grecholczyk</span>
                  </div>
                  <small>19h ago</small>
                </div>

                <p class="text-justify comment-text mb-0">
                  Id eu nisl nunc mi ipsum faucibus. Massa massa ultricies mi
                  quis hendrerit dolor. Arcu bibendum at varius vel pharetra vel
                  turpis nunc eget. Habitasse platea dictumst quisque sagittis
                  purus sit amet volutpat. Urna condimentum mattis pellentesque
                  id.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam
                </p>

                <div class="d-flex flex-row user-feed">
                  <span class="wish"
                    ><i class="fa fa-heartbeat mr-2"></i>0</span
                  >
                  <span class="ml-3"
                    ><i class="fa fa-comments-o mr-2"></i>Polubień</span
                  >
                </div>
              </div>
            </div>

            <div class="d-flex flex-row p-3">
              <img
                src="https://i.imgur.com/zQZSWrt.jpg"
                width="40"
                height="40"
                class="rounded-circle mr-3"
              />

              <div class="w-100">
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-row align-items-center">
                    <span class="mr-2">Sylwia Pazdan</span>
                  </div>
                  <small>22h ago</small>
                </div>

                <p class="text-justify comment-text mb-0">
                  Id eu nisl nunc mi ipsum faucibus. Massa massa ultricies mi
                  quis hendrerit dolor. Arcu bibendum at varius vel pharetra vel
                  turpis nunc eget. Habitasse platea dictumst quisque sagittis
                  purus sit amet volutpat. Urna condimentum mattis pellentesque
                  id.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna
                  aliqua. Ut enim ad minim veniam
                </p>

                <div class="d-flex flex-row user-feed">
                  <span class="wish"
                    ><i class="fa fa-heartbeat mr-2"></i>0</span
                  >
                  <span class="ml-3"
                    ><i class="fa fa-comments-o mr-2"></i>Polubień</span
                  >
                </div>
              </div>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "LeaveYourView",
});
</script>

<style scoped>
body {
  background-color: #eee;
}

.card {
  background-color: #fff;
  border: none;
}

.mr-2 {
  margin-right: 15px;
}

.form-color {
  background-color: #342e2e;
}

.form-control {
  height: 48px;
  border-radius: 25px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #35b69f;
  outline: 0;
  box-shadow: none;
  text-indent: 10px;
}

.c-badge {
  background-color: var(--color-primary-400);
  color: white;
  height: 20px;
  font-size: 11px;
  width: 140px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2px;
}

.comment-text {
  font-size: 13px;
}

.wish {
  color: var(--color-primary-400);
}

.user-feed {
  font-size: 14px;
  margin-top: 12px;
}
.rounded-circle {
  margin-right: 1rem;
}
</style>
