<script setup lang="ts">

import NavBar from "@/components/NavBar.vue";
</script>

<template>
  <header>
    <NavBar></NavBar>
  </header>

  <main>
    <RouterView v-slot="{ Component }">
      <Transition name="fade" mode="out-in">
        <Component :is="Component"/>
      </Transition>
    </RouterView>
  </main>
</template>

<style>
@import '@/assets/base.css';

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* main {
  background-color: var(--color-primary-400); 
  min-height: calc(100vh - var(--navbar-height));
} */
</style>
