<template>
  <div class="background d-flex container-fluid justify-content-center align-items-center">
    <div class="container d-flex justify-content-center">
      <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 p-5 m-1 shadow bg-white">
        <div class="row mb-4">
          <h1 class="display-6">Dodaj firmę</h1>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" id="companyNameInput" placeholder="Nazwa" v-model="name">
              <label for="companyNameInput" class="custom-input-label">Nazwa firmy</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" id="companyAddressInput" placeholder="Przykładowa 1/4" v-model="addressLine">
              <label for="companyAddressInput" class="custom-input-label">Adres</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-4">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" maxlength="6" id="postCodeInput" placeholder="00-000" v-model="postCode">
              <label for="postCodeInput" class="custom-input-label">Kod</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" id="cityInput" placeholder="Warszawa" v-model="city">
              <label for="cityInput" class="custom-input-label">Miasto</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" maxlength="10" id="nipInput" placeholder="4173236879" v-model="taxId" @keyup.enter="registerCompany">
              <label for="nipInput" class="custom-input-label">NIP</label>
            </div>
          </div>
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" maxlength="14" id="regonInput" placeholder="12345678512347" v-model="regon" @keyup.enter="registerCompany">
              <label for="regonInput" class="custom-input-label">REGON</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn-base btn-main-color w-100" @click="registerCompany">DODAJ FIRMĘ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import Company from "../api/company";
import {defineComponent, inject, ref} from "vue";
import {useToast} from "vue-toastification";
import type {CompanyRequest} from "@/api/types/companyRequest";
import router from "../router";

export default defineComponent({
  name: "AdminRegisterCompanyView",
  setup() {
    const company: Company = inject(Company.serviceName) as Company;
    const toast = useToast();
    const name = ref("");
    const city = ref("");
    const addressLine = ref("");
    const postCode = ref("");
    const taxId = ref("");
    const regon = ref("");

    const registerCompany = async () : Promise<void> => {
      const companyRequest: CompanyRequest = {
        name: name.value,
        city: city.value,
        addressLine: addressLine.value,
        postCode: postCode.value,
        taxId: taxId.value == "" ? null : taxId.value,
        regon: regon.value == "" ? null : regon.value
      }

      if (await company.create(companyRequest)) {
        toast.success(`Dodano firmę ${name.value}`)
      }
      else {
        toast.warning("Wystąpił błąd w trakcie dodawania firmy")
      }
    }

    return {
      name,
      city,
      addressLine,
      postCode,
      taxId,
      regon,
      registerCompany
    }
  }
});
</script>

<style scoped>
.background {
  background-color: #44a08d;
  background-image: linear-gradient(0deg, #44a08d 0%, #24544a 100%);
  min-height: calc(100vh - var(--navbar-height));
  color: black;
  overflow: hidden;
}
</style>
