<template>
  <div class="container">
    <div class="col">
      <div class="row m-0">
        <div class="col-12 col-lg-4 col-xl-3 mt-4">
          <CompanyDetails class=""
                          :id="companyData?.id"
                          :stars="companyData?.rating_sum"
                          :ratings="companyData?.rating_count"
                          :company-name="companyData?.name"
                          :address="companyData?.addressLine"
                          :city="companyData?.city"
                          :post-code="companyData?.postCode"
                          :regon="companyData?.regon"
                          :tax-id="companyData?.taxId"
          />
        </div>
        <div class="col-12 col-lg-8 col-xl-9 mt-4">
          <div class="row p-3">
            <div v-if="comments === undefined || comments?.results.length === 0" class="row d-flex justify-content-center fs-4"> Na temat firmy nie wystawiono jeszcze recenzji. </div>
            <Comment v-else v-for="comment of comments?.results" :key="comment.id + 'comment'" :commentData="comment" @send="fetchAllData" class="mb-2"></Comment>
          </div>
          <div class="row" v-if="commentCount > 10">
            <div class="col d-flex justify-content-center">
              <ul class="pagination">
                <li class="page-item" :class="isPrevDisabled ? 'disabled' : ''">
                  <a class="page-link d-inline-block custom-pointer" @click="fetchPrevPage"><span class="material-icons">chevron_left</span></a>
                </li>
                <li class="page-item" :class="isNextDisabled ? 'disabled' : ''">
                  <a class="page-link d-inline-block custom-pointer" @click="fetchNextPage"><span class="material-icons">chevron_right</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row mt-1 ms-0 me-0">
            <CommentField v-if="isLoggedIn && companyData?.id !== undefined" :company-id="companyData?.id" @send="fetchAllData"></CommentField>
            <div v-if="!isLoggedIn" class="row d-flex justify-content-center fs-4 mb-3">Zaloguj się aby dodać swoją opinię.</div>
          </div>
        </div>
      </div>

    </div>
  </div>

</template>

<script lang="ts">
import {defineComponent, inject, onMounted, ref, watch} from "vue";
import {useRoute} from "vue-router";
import type {CompanyResponse} from "@/api/types/companyResponse";
import CompanyDetails from "@/components/CompanyDetails.vue";
import Company from "@/api/company";
import CommentField from "@/components/CommentField.vue";
import Authentication from "@/api/authentication";
import CommentService from "@/api/commentService";
import Comment from "@/components/Comment.vue";
import type {GetCommentsPagedResponse} from "@/api/types/getCommentsPagedResponse";
import LeaveYourView from "@/components/TestTest.vue";

export default defineComponent({
  name: "CompanyView",
  components: {LeaveYourView, Comment, CommentField, CompanyDetails},
  setup() {
    // IoC
    const company: Company = inject(Company.serviceName) as Company;
    const auth: Authentication = inject(Authentication.serviceName) as Authentication;
    const commentService: CommentService = inject(CommentService.serviceName) as CommentService;
    // variables
    const route = useRoute()
    const id = parseInt(route.params.id as string) as number;
    const isLoggedIn = ref(auth.isLoggedIn);
    const comments = ref<GetCommentsPagedResponse>();
    const commentCount = ref(0)
    const isNextDisabled = ref(true)
    const isPrevDisabled = ref(true)
    const companyData = ref<CompanyResponse>()

    const fetchCompany = async (): Promise<void> => {
      const result = await company.getById(id);

      if (result !== null) {
        companyData.value = result;
      }
    }

    const fetchComments = async () => {
      const result = await commentService.fetchComments(id, 1);

      if (result !== null) {
        comments.value = result;
        console.log(result)
      }
    }

    const fetchNextPage = async () => {
      const result = await commentService.fetchCommentsPageFromLink(comments.value?.next ?? "");

      if (result !== null) {
        comments.value = result;
        console.log(result)
      }
    }

    const fetchPrevPage = async () => {
      const result = await commentService.fetchCommentsPageFromLink(comments.value?.previous ?? "");

      if (result !== null) {
        comments.value = result;
        console.log(result)
      }
    }

    const fetchAllData = async () => {
      await fetchCompany();
      await fetchComments();
    }

    onMounted(async () => {
      await fetchAllData()
    })

    watch(companyData, () => {
      document.title = `BYŁEM TU - Opinie o firmie ${companyData.value?.name}`
    })

    watch(comments, () => {
      commentCount.value = comments.value?.count ?? 0;
      isNextDisabled.value = comments.value?.next == null ?? true;
      isPrevDisabled.value = comments.value?.previous == null ?? true;
    })

    return {
      companyData,
      isLoggedIn,
      comments,
      commentCount,
      isNextDisabled,
      isPrevDisabled,
      fetchAllData,
      fetchNextPage,
      fetchPrevPage
    }
  }
});
</script>

<style scoped>
.custom-pointer {
  cursor: pointer;
}

</style>
