<script lang="ts">
import SearchBar from "@/components/SearchBar.vue";

export default {
  components: {SearchBar}
}
</script>

<template>
  <div class="background d-flex justify-content-center">
    <div class="container pt-4">
      <div class="col text-center">
        <div class="row pt-3">
          <div class="col mb-3">
            <img src="@/assets/logo.png" alt="logo" class="figure-img logo">
          </div>
        </div>
        <div class="row">
          <div class="col mt-5 fs-4 fw-light">
            <p>Pozwalamy gromadzić opinie klientów w jednym miejscu</p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-1 fs-6 fw-light">
            <p>
              Dzięki nam będziesz w stanie poznać w szybki i łatwy sposób <br class="d-none d-xl-inline"/>
              <b>opinie o firmach z rozmaitych dziedzin i miejsc.</b>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-1 fs-6 fw-light">
            <p>
              Naszym celem jest pozyskiwanie opinii od prawdziwych klientów, takich jak <b>Ty</b>. <br
                class="d-none d-xl-inline"/>
              Chcemy abyś mógł przeglądać <b>rzetelne</b> opinie o firmach.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col mt-4 fs-2 fw-normal">
            <p class="mb-0">SPRAWDŹ JAKIE TO PROSTE</p>
          </div>
        </div>
        <div class="row">
          <div class="col mb-3">
            <RouterLink to="/opinie" class="btn-base btn-text-color mt-3 fw-bolder min-w-50 ps-5 pe-5 pt-3 pb-3 pt-xl-2 pb-xl-2">
              PRZEJDŹ DO STRONY Z OPINIAMI
            </RouterLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.background {
  background-color: #44a08d;
  background-image: linear-gradient(0deg, #44a08d 0%, #24544a 100%);
  min-height: calc(100vh - var(--navbar-height));
  color: var(--text-color-primary-400);
}

.logo {
  width: 15em;
}

</style>
