<script lang="ts">
import {defineComponent, inject, ref} from "vue";
import Authentication from "@/api/authentication";
import type {LoginRequest} from "@/api/types/loginRequest";
import router from "@/router";
import {useToast} from "vue-toastification";

export default defineComponent({
  name: "LoginView",
  setup() {
    // IoC
    const authentication: Authentication = inject(Authentication.serviceName) as Authentication;
    // variables
    const username = ref("");
    const password = ref("");
    const toast = useToast();

    const logIn = async () : Promise<void> => {
      const loginData: LoginRequest = {
        username: username.value,
        password: password.value
      }

      if (!await authentication.login(loginData)) {
        toast.warning("Nieprawidłowa nazwa użytkownika lub hasło")
        return;
      }

      await router.push('/')
    }

    return {
      username,
      password,
      logIn
    }
  }
})
</script>

<template>
  <div class="background d-flex container-fluid justify-content-center align-items-center">
    <div class="container d-flex justify-content-center">
      <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 p-5 m-1 shadow bg-white">
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" id="loginInput" placeholder="jankowalski1" v-model="username">
              <label for="loginInput" class="custom-input-label">Nazwa użytkownika</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-0 custom-input" id="passwordInput" placeholder="hasło" v-model="password" @keyup.enter="logIn">
              <label for="passwordInput" class="custom-input-label">Hasło</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn-base btn-main-color w-100" @click="logIn">ZALOGUJ</button>
          </div>

        </div>
        <div class="row text-center mt-3">
          <div class="col form-light-text">
            Nie zarejestrowany? <RouterLink to="/register" class="text-decoration-none form-light-text-highlight">Utwórz konto</RouterLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.background {
  background-color: #44a08d;
  background-image: linear-gradient(0deg, #44a08d 0%, #24544a 100%);
  min-height: calc(100vh - var(--navbar-height));
  color: black;
}
</style>
