<script lang="ts">
import {defineComponent, onMounted, ref, watch} from "vue";
import SearchBar from "@/components/SearchBar.vue";
import CompanyView from "@/components/CompanyDetails.vue";
import Stars from "@/components/Stars.vue";
import CompaniesPreView from "@/components/CompaniesPreView.vue";
import TestTest from "@/components/TestTest.vue";

export default defineComponent({
  name: "OpinionsMainView",
  components: {SearchBar, CompanyView, Stars, CompaniesPreView, TestTest, },
  setup() {
    const companies = ref();

    const searchBar = ref();

    onMounted(() => {
      watch(() => searchBar.value.companies, (curr, prev) => {
        companies.value = curr;
      })
    })

    return {
      searchBar,
      companies
    }
  }
});
</script>

<template>
  <div class="background">
    <div class="container d-flex justify-content-center bg-white">
      <div class="col pt-4">
        <div class="row pt-2 ps-2 pe-2">
          <SearchBar ref="searchBar" class="mb-5"></SearchBar>

          <CompaniesPreView v-for="company in companies" :id="company.id" :company-name="company.name" :stars="company.rating_sum" :ratings="company.rating_count"></CompaniesPreView>
<!--          <TestTest></TestTest>-->
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.background {
  width: 100%;
}
</style>
