<script lang="ts">
import {defineComponent, ref, onMounted, onBeforeUpdate, provide, inject} from "vue";
import Register from "@/api/register";
import Authentication from "@/api/authentication";
import type {RegisterRequest} from "@/api/types/registerRequest";
import type {LoginRequest} from "@/api/types/loginRequest";
import router from "@/router";
import Company from "@/api/company";
import type {CompanyRequest} from "@/api/types/companyRequest";
import {useToast} from "vue-toastification";

export default defineComponent({
  name: "RegisterView",
  setup() {
    // animation
    const delay = 400;
    const isCreatingCompanyAccount = ref<boolean>(false);
    let element: HTMLElement;
    let initialHeight: number;

    const toggleCompanyAccount = (): void => {
      setStylesBefore();
      isCreatingCompanyAccount.value = !isCreatingCompanyAccount.value;
      setStylesAfter();
    }

    const setStylesBefore = (): void => {
      if (initialHeight <= 0) {
        element.style.visibility = "visible";
        element.style.height = "auto";
        initialHeight = element.clientHeight;
        element.style.transitionDuration = "0s, 0s";
        element.style.visibility = "hidden";
        element.style.height = "0px"
      }
      element.style.transitionDelay = isCreatingCompanyAccount.value ? `${delay}ms, 0s` : `0s, ${delay}ms`;
      element.style.transitionDuration = `${delay}ms, ${delay}ms`;
    }

    const setStylesAfter = (): void => {
      setTimeout(() => {
        element.style.visibility = isCreatingCompanyAccount.value ? "visible" : "hidden"
      }, isCreatingCompanyAccount.value ? delay : 0)
      element.style.height = isCreatingCompanyAccount.value ? initialHeight + "px" : "0";
      element.style.opacity = isCreatingCompanyAccount.value ? "1" : "0";
    }

    onMounted(() =>{
      element = document.getElementById("companyFormElement") as HTMLElement;
      initialHeight = element.clientHeight;
      element.style.transitionDelay = "0s, 0s";
      element.style.transitionDuration = "0s, 0s";
      element.style.height = "0";
      element.style.opacity = "0";
      element.style.visibility = "hidden";
    })

    // registration
    const registerService: Register = inject(Register.serviceName) as Register;
    const authentication: Authentication = inject(Authentication.serviceName) as Authentication;
    const company: Company = inject(Company.serviceName) as Company;
    const toast = useToast();

    const username = ref("");
    const password = ref("");
    const email = ref("");
    const name = ref("");
    const city = ref("");
    const addressLine = ref("");
    const postCode = ref("");
    const taxId = ref("");
    const regon = ref("");

    const register = async () : Promise<void> => {
      if (isCreatingCompanyAccount.value) {
        await registerUser(true)
        await registerCompany()
      }
      else {
        await registerUser(false)
      }
    }

    const registerUser = async (isCompany: boolean) : Promise<void> => {
      const registerRequest: RegisterRequest = {
        username: username.value,
        password: password.value,
        email: email.value
      }

      if (!await registerService.register(registerRequest)) {
        toast.warning("Podany aders email lub nazwa użytkownika już istnieją, lub są nieprawidłowe")
        return;
      }

      const loginData: LoginRequest = {
        username: username.value,
        password: password.value
      }

      if (await authentication.login(loginData) && !isCompany) {
        await router.push('/');
      }
    }

    const registerCompany = async () : Promise<void> => {
      const companyRequest: CompanyRequest = {
        name: name.value,
        city: city.value,
        addressLine: addressLine.value,
        postCode: postCode.value,
        taxId: taxId.value == "" ? null : taxId.value,
        regon: regon.value == "" ? null : regon.value
      }

      if (await company.create(companyRequest)) {
        await router.push('/');
      }
    }

    return {
      isCreatingCompanyAccount,
      toggleCompanyAccount,
      username,
      password,
      email,
      register,
      name,
      city,
      addressLine,
      postCode,
      taxId,
      regon
    }
  }
})
</script>

<template>
  <div class="background d-flex container-fluid justify-content-center align-items-center">
    <div class="container d-flex justify-content-center">
      <div class="col col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4 p-5 m-1 shadow bg-white">
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" id="emailInput" placeholder="jankowalski1" v-model="email">
              <label for="emailInput" class="custom-input-label">Adres e-mail</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="text" class="form-control rounded-0 custom-input" id="loginInput" placeholder="jankowalski1" v-model="username">
              <label for="loginInput" class="custom-input-label">Nazwa użytkownika</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-floating mb-3">
              <input type="password" class="form-control rounded-0 custom-input" id="passwordInput" placeholder="hasło" v-model="password" @keyup.enter="register">
              <label for="passwordInput" class="custom-input-label">Hasło</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <div class="form-check form-switch mb-3">
              <input class="form-check-input custom-checkbox" type="checkbox" :checked="isCreatingCompanyAccount" @click="toggleCompanyAccount" id="companyInput">
              <label class="form-check-label fw-lighter" for="companyInput">
                Zakładasz konto firmowe?
              </label>
            </div>
          </div>
        </div>
        <div class="row p-0 m-0 custom-row" id="companyFormElement">
          <div class="col p-0 m-0">
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-0 custom-input" id="companyNameInput" placeholder="Nazwa" v-model="name">
                  <label for="companyNameInput" class="custom-input-label">Nazwa firmy</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-0 custom-input" id="companyAddressInput" placeholder="Przykładowa 1/4" v-model="addressLine">
                  <label for="companyAddressInput" class="custom-input-label">Adres</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-0 custom-input" maxlength="6" id="postCodeInput" placeholder="00-000" v-model="postCode">
                  <label for="postCodeInput" class="custom-input-label">Kod</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-0 custom-input" id="cityInput" placeholder="Warszawa" v-model="city">
                  <label for="cityInput" class="custom-input-label">Miasto</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-0 custom-input" maxlength="10" id="nipInput" placeholder="4173236879" v-model="taxId">
                  <label for="nipInput" class="custom-input-label">NIP</label>
                </div>
              </div>
              <div class="col">
                <div class="form-floating mb-3">
                  <input type="text" class="form-control rounded-0 custom-input" maxlength="14" id="regonInput" placeholder="12345678512347" v-model="regon" @keyup.enter="register">
                  <label for="regonInput" class="custom-input-label">REGON</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn-base btn-main-color w-100" @click="register">ZAREJESTRUJ</button>
          </div>
        </div>
        <div class="row text-center mt-3">
          <div class="col form-light-text">
            Masz już konto? <RouterLink to="/login" class="text-decoration-none form-light-text-highlight">Zaloguj się</RouterLink>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.background {
  background-color: #44a08d;
  background-image: linear-gradient(0deg, #44a08d 0%, #24544a 100%);
  min-height: calc(100vh - var(--navbar-height));
  color: black;
  overflow: hidden;
}

.custom-row {
  transition-property: height, opacity;
}

</style>
