:root {
    --navbar-height: 4.5em;
    --color-primary-400: #25544b;
    --color-primary-600: #235349;
    --text-color-primary-400: #f1e4d5;
    --text-color-primary-600: hsl(40, 80%, 89%);
    --text-color-primary-800: #a49576;
}

.btn-base {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    line-height: 1.5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-text-color {
    font-size: 1rem;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    border-radius: 50px;
    color: var(--color-primary-400);
    background-color: var(--text-color-primary-400);
    border-color: var(--text-color-primary-400);
}
.btn-text-color:hover {
    color: var(--color-primary-600);
    background-color: var(--text-color-primary-600);
    border-color: var(--text-color-primary-600);
}
.btn-check:focus + .btn-text-color, .btn-text-color:focus {
    color: var(--color-primary-600);
    background-color: var(--text-color-primary-600);
    border-color: var(--text-color-primary-600);
    box-shadow: 0 0 0 0.25rem rgba(190, 172, 136, 0.5);
}
.btn-check:checked + .btn-text-color, .btn-check:active + .btn-text-color, .btn-text-color:active, .btn-text-color.active, .show > .btn-text-color.dropdown-toggle {
    color: var(--color-primary-600);
    background-color: var(--text-color-primary-600);
    border-color: var(--text-color-primary-600);
}
.btn-check:checked + .btn-text-color:focus, .btn-check:active + .btn-text-color:focus, .btn-text-color:active:focus, .btn-text-color.active:focus, .show > .btn-text-color.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(190, 172, 136, 0.5);
}

.btn-main-color {
    padding: 0.85rem 2rem;
    font-size: 1.2rem;
    font-weight: 300;
    border-radius: 0;
    color: white;
    background-color: var(--color-primary-400);
    border-color: var(--color-primary-400);
}
.btn-main-color:hover {
    color: white;
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-600);
}
.btn-check:focus + .btn-main-color, .btn-main-color:focus {
    color: white;
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-600);
    box-shadow: 0 0 0 0.25rem rgba(35, 83, 73, 0.5);
}
.btn-check:checked + .btn-main-color, .btn-check:active + .btn-main-color, .btn-main-color:active, .btn-main-color.active, .show > .btn-main-color.dropdown-toggle {
    color: white;
    background-color: var(--color-primary-600);
    border-color: var(--color-primary-600);
}
.btn-check:checked + .btn-main-color:focus, .btn-check:active + .btn-main-color:focus, .btn-main-color:active:focus, .btn-main-color.active:focus, .show > .btn-main-color.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem rgba(35, 83, 73, 0.5);
}

.min-w-50 {
    min-width: 50% !important;
}

.custom-input {
    background-color: #f2f2f2 !important;
    border-color: #f2f2f2 !important;
}

.custom-input:focus {
    box-shadow: 0 0 0 0.25rem rgba(37, 84, 75, 0.25) !important;
}

.custom-input-label {
    color: #5e5e5e;
    font-weight: lighter;
}

.form-light-text {
    font-size: 0.95rem;
    color: #949494 !important;
    font-weight: 300;
}

.form-light-text-highlight {
    color: var(--color-primary-400) !important;
}

.custom-checkbox {
    border: var(--color-primary-400) solid 1px !important;
}

.custom-checkbox:checked {
    border: var(--color-primary-400) solid 1px !important;
    background-color: var(--color-primary-400) !important;
}
.custom-checkbox:focus {
    background-color: #aeaeae !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
    box-shadow: 0 0 0 0.25rem rgba(37, 84, 75, 0.25) !important;
    border: var(--color-primary-400) solid 1px;
}
